@use 'variables' as *;


@font-face {
  font-family: "B612-Mono-Regular";
  src: url(/assets/fonts/B612_Mono/B612Mono-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "B612-Mono-Italic";
  src: url(/assets/fonts/B612_Mono/B612Mono-Italic.ttf) format("truetype");
  font-display: swap;
}


// font variables
$font1: 'B612-Mono-Regular', monospace;
$font2: 'B612-Mono-Italic', monospace;

body {
  font-family: $font1;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
}

a {
  color: $color1;
  font-style: normal;
  text-decoration: underline;
  transition: color 1s, font-style 1s;

  &:hover {
    font-style: italic;
    text-decoration: line-through;
    color: $color1;
  }

  @media only screen and (max-width: $mobile) {
    font-family: $font2;
    &:hover {
      color: $white;
    }
  }
}

hr {
  background-color: rgba($black, 0.8);
  border-style: solid;
  border-color: rgba($black, 0.8);
  height: 1px;
  width: 100%;
  box-shadow: none;
  margin-bottom: 20px;
}

input, textarea, label {
  font-family: $font1;
}

body {
  color: $white;
  a {
    color: $white;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h2 {
  font-family: $font2;
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.4rem;
  margin: 0;
}

.button {
  font-family: $font1;
  font-size: 1rem;
  text-decoration: none;
  color: $black;
  &:hover {
    color: $white;
  }
}

header {
  .heading {
    h1 {
        font-family: $font2;
        font-size: 2rem;
        font-weight: 400;
      }
  }
  nav {
    ul li {
      font-size: 1.15rem;
      .current {
        color: $color1;
        font-style: italic;
      }
      a {
        color: $white;
        text-decoration: underline;
        transition: color 0.4s, font-style 0.4s;
        &:hover {
          font-style: italic;
          color: $color1;
        }
        @media only screen and (max-width: $mobile) {
          font-style: normal;
        }
      }
    }
  }
}

main {
  a {
    color: $black;
    text-decoration: underline;

    &:hover {
      color: $black;
    }
  }
}

.home {
  p {
    line-height: 1.5;
  }
}

.about {
  margin-bottom: 50px;
  h5 {
    font-family: $font1;
    font-weight: 400;
    font-size: 2.5rem;
    padding: 40px 0px;
    margin: 0;
  }
  p {
    font-family: $font1;
    font-size: 1.2rem;
    padding: 30px;
    margin: 0;
    line-height: 1.75;
  }
}

.portfolio {
  text-align: left;
  font-family: $font1;

  .credits {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.contact-main {
  text-align: left;
  p {
    font-family: $font1;
    margin: 10px 0;
  }
  form {
    font-family: $font1;
    p {
      font-size: 0.8rem;
    }
  }
}

footer {
  font-size: 0.9rem;
  font-family: $font1;
  font-weight: 400;
}

@media only screen and (max-width: $tablet) {
  header {
    .heading {
      text-align: left;
      h1 {
        font-size: 2.25rem;
      }
      h2 {
        font-size: 1.15rem;
      }
    }
    nav ul li {
      font-size: 1.6rem;
      a:hover {
        font-style: normal;
      }
    }
  }
  footer {
    p, a {
      font-size: 1.1rem;
    }
    p {
      max-width: 95%;
      margin: 0 auto;
    }
  }
  .about {
    p {
      margin: 0;
      padding-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
    }
    h5 {
      font-size: 1.75rem;
      padding-bottom: 30px;
    }
  }
  .portfolio-main {
    p {
      font-size: 1.2rem;
      padding: 50px 15px;
      padding-bottom: 30px;
    }
  }
}