@use 'partials/setup';
@use 'partials/animations' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

html {
    position: relative;
}

// default body styles
body {
    display: flex;
    flex-flow: row wrap;
    background-color: $black;
    background-image: url("./../../assets/rain-texture.png");
    background-size: 45%;
    text-align: left;
    overflow-x: hidden;
    width: 100vw !important;
    height: 100vh;
    min-height: 500px;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        background-size: 100%;
        position: absolute;
        top: 50px;
        left: 0;

        &.nav-open {
            overflow: hidden;
            max-height: 100vh !important;
            max-width: 100vw !important;
        }
    }
}

main {
    width: calc(100vw - 400px);
    height: 100vh;
    overflow-y: scroll;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        max-width: 100vw;
        width: 100vw;
        height: fit-content;
        overflow-y: visible;
    }
}

input, textarea {
    background-color: $black;
    border: none;
    padding: 10px 15px;
}

textarea {
    height: 150px;
}

main {
    background-color: rgba($white, 0.75);
    color: $black;
    margin: 0;
    padding-bottom: 30px;

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    &.about-main {
        img {
            width: 100%;
            object-fit: cover;
            max-height: 350px;
            margin-top: 30px;
            margin-bottom: 0;
        }
        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            .main-buttons {
                order: -1;
                margin-top: 55px;
                margin-bottom: -20px;
            }
        }
    }

    .project {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .main-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 20px;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            order: 3;
            flex-direction: column;
            gap: 15px;
            margin-top: 45px;

            .button {
                width: 75%;
            }
        }
    }

    .portfolio-buttons {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: space-between;
        align-items: left;
        margin-bottom: 20px;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 80px;
            width: calc(50% - 10px);
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            flex-direction: column;

            .button {
                width: 85%;
                height: 100%;
                margin: 0 auto;
            }
        }
    }

    .homepage-text, .contact-text {
        z-index: 100;
        max-width: 85%;
        padding: 40px;
        background-color: rgba($color1, 0.6);

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            max-width: 85%;
        }
    }

    .homepage-text {
        transform: translateY(35px) skew(-2deg);
        margin-left: 15%;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            order: 2;
            transform: skew(-1deg);
            margin: 0 auto;
        }
    }

    .contact-text {
        margin: 0 auto;
        margin-top: 40px;
        transform: skew(-2deg);
    }

    .bio-text, .portfolio-text {
        transform: skew(-2deg);
        padding: 40px;
        background-color: rgba($color1, 0.6);

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            transform: skew(-1deg);
            width: 85%;
            margin: 0 auto;
        }
    }

    .landing-pic {
        animation: none;
        z-index: 50;
        width: 95%;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            width: 100%;
        }
    }
}

.portfolio {
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 40px auto;

        h2 {
            padding-top: 20px;
        }

        .img-slider {
            border: 10px solid $black;
            background-color: rgba($black, 0.8);
            width: 100%;
            margin-top: 10px;
            height: 500px;
            aspect-ratio: 16/10;
            position: relative;
            overflow: hidden;
            z-index: 2;
            .img-slide {
                width: 100%;
                max-width: 100%;
                height: 100%;
                position: absolute;
                transition: transform 0.75s ease-in-out;
                display: none;
                img {
                    z-index: 20;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }

            @media only screen and (max-width: $tablet) {
                width: 90%;
                margin: 20px auto;
                margin-bottom: 0;
            }
        }
        .img-textbox {
            border-left: none;
            background-color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 80px;
            margin: 0;
            padding: 25px;
            z-index: 2;
            color: $white;
            .img-text {
                min-width: 100%;
                display: none;
                p {
                    text-align: center;
                }
                a {
                    color: $white;
                }
            }
            .img-nav {
                position: absolute;
                width: 40px;
                height: 40px;
                padding: 10px;
                cursor: pointer;
                background-color: $color1;
                font-size: 1rem;
                transition: color 0.5s, background-color 0.5s, font-style 0.5s, transform 0.5s;
                    
                &.prev {
                    bottom: 15px;
                    left: 15px;
                }
                &.next {
                    bottom: 15px;
                    right: 15px;
                }
                &:hover {
                    background-color: $color2;
                    transition: background-color 0.75s;
                    transform: skew(-5deg);
                }
            }
            @media only screen and (max-width: $tablet) {
                width: 90%;
                height: 120px;
                margin: 20px auto;
                margin-top: 0;
                justify-content: flex-start;

                .img-text {
                    height: 130px;
                }
                .img-nav {
                    height: 50px;
                    width: 50px;
                    transform: skew(-3deg);
                    background-color: $color2;

                    &:hover {
                        background-color: $color2;
                        transition: none;
                        transform: skew(-3deg);
                    }
                }
            }
        }
    }
}

// wrapper styles
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

// button styles
.button {
    font-style: normal;
    background-color: $color2;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s, font-style 0.5s, transform 0.5s;
    &:hover {
        color: $black;
        transform: skew(-5deg);
        background-color: $color1;
        text-decoration: none;
    }
    @media only screen and (max-width: $tablet) {
        transform: skew(-3deg);
        font-style: italic;
        &:hover {
            transform: skew(-3deg);
            font-style: italic;
            background-color: $color2;
        }
    }
}

// header styles
header {
    background-color: rgba($color2, 0.5);
    width: 400px;
    height: 100vh;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        background-color: rgba($black, 0.5);
        width: 100vw;
        height: 200px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 80%;
        max-width: 1200px;
        top: 0;
        right: 0;
        z-index: 100;
        .hamburger-btn {
            display: none;
        }
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 35px;
            margin: 0;
            padding: 0;
            margin-top: 35px;
                li {
                    a {
                        padding: 5px;
                        border-bottom: solid 2px $white;
                        text-decoration: none;
                        &:hover {
                            text-decoration: line-through;
                            transition: text-decoration 0.75s;
                        }
                    }
                    .current {
                        padding: 5px;
                        border-bottom: solid 2px $color2;
                        text-decoration: line-through;
                    }
                }
            }
        }
    .title {
        position: relative;
        padding: 35px 0;
        padding-bottom: 30px;
        min-width: 100%;

        .heading {
            h1 {
                position: relative;
                margin-top: 0;
                z-index: 100;

                // responsive to tablet
                @media only screen and (max-width: $tablet) {
                    margin: 0 15px;
                    z-index: 1;
                }
            }
            .title-blob {
                transform: rotate(-70deg) scale(1.75);
                width: 90%;
                opacity: 60%;
                position: absolute;
                top: -110px;
                z-index: 0;
                animation: none;

                // responsive to tablet
                @media only screen and (max-width: $tablet) {
                    transform: rotate(-70deg) scale(1.75);
                    width: 450px;
                    top: -225px;
                    left: -100px;
                }
            }
        }
    }
}

.contact-main {
    padding-bottom: 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
    }
    h2 {
        margin-bottom: -30px;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            padding-top: 30px;
        }
    }
    img {
        margin-left: 20%;
        width: 80%;
        object-fit: cover;
        max-height: 350px;
        transform: translateY(60px);

        @media only screen and (max-width: $tablet) {
            width: 100%;
            margin: 0;
        }
    }
    p {
        width: 100%;
    }
    form {
        transform: translateY(-40px);
        background-color: rgba($black, 0.8);
        padding: 40px 20px;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 85%;

        @media only screen and (max-width: $tablet) {
            width: 100%;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            gap:  5px;
            color: $white;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            border: none;
            label, input {
                width: 100%;
                margin: 5px 0px;
            }
            p {
                padding-top: 10px;
                font-size: 0.9rem !important;
                width: 100%;
                text-align: right !important;
            }
            input {
                color: $black;
                background-color: $white;
                margin-bottom: 15px;
            }
            textarea {
                color: $black;
                background-color: $white;
                min-width: 100%;
            }
            .submit-button {
                width: 100%;
                display: flex;
                justify-content: right;
                margin-bottom: 5px;
                .button {
                    background-color: $color1;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        background-color: $color2;
                        color: $black;

                        @media only screen and (max-width: $tablet) {
                            background-color: $color1;
                        }
                    }
                }
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 400px;

    .social-buttons {
        width: 100%;
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        .social-button {
            display: flex;
            padding: 10px;
            width: 50px;
            img {
                max-width: 30px;
            }
        }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        width: 100vw;
        position: unset;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 40px;

        p {
            width: 100%;
            margin: 0;
        }
    }
}

// screens smaller than $tablet
@media only screen and (max-width: $tablet) {
    .wrapper {
        width: 100%;
    }
    header {
        nav {
            left: 0;
            position: fixed;
            z-index: 1000;
            width: 100vw;
            .hamburger-btn {
                z-index: 5;
                display: initial;
                position: sticky;
                button {
                    position: relative;
                    display: flex;
                    border: none;
                    background-color: rgba($color2, 0.8);
                    color: $white;
                    height: 55px;
                    width: 100%;
                    img {
                        left: 10px;
                        width: 40px;
                        padding: 10px 5px;
                        transition: transform 0.5s;
                    }
                    &:hover {
                        cursor: pointer;
                        transition: 0.5s;
                    }
                }
            }
            .nav-list {
                opacity: 0;
                display: none;
                flex-direction: column;
                justify-content: center;
                gap: 60px;
                position: absolute;
                top: 20px;
                height: calc(100vh - 20px);
                padding: 5% 0;
                width: 100vw;
                background-color: rgba($black, 0.95);

                * {
                    animation: none;
                }

                li {
                    .current {
                        border-color: $color2;
                        color: $white;
                        display: block;
                        margin: 0 auto;
                        width: 75%;
                        border-width: 3px;
                        padding: 10px 20px;
                    }
                    a {
                        display: block;
                        margin: 0 auto;
                        width: 75%;
                        padding: 10px 20px;
                        background-color: rgba($color1, 0.8);
                        border-color: $white;
                        border-width: 3px;
                        &:hover {
                            background-color: rgba($color1, 0.8);
                            text-decoration: none;
                            font-style: normal;
                            color: $white;
                        }
                    }
                }
            }
            &.active {
                .hamburger-btn {
                    button {
                        background-color: rgba($color2, 0.8);
                        color: $white;
                        img {
                            transform: rotate(90deg);
                        }
                    }
                }
                .nav-list {
                    display: flex !important;
                    opacity: 1 !important;
                }
            }
        }
        .title {
            padding: 0;
            width: 100%;
            margin-top: 30px;
        }
    }
    footer {
        margin: 40px 20px;
    }
}